main {
    background-color: black;
    background-image: url("img/section1.jpg");
    background-size: cover;
    color: white;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 10px;
    z-index: 3;
    margin-inline: 20px;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form section {
    flex-direction: row;
}

input {
    width: 350px;
    height: 48px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0px 10px;
    border: none;
    border-bottom: 2px solid #7D93F9;
    outline: none;
    transition: all 0.2s ease 0s;
    color: #7D93F9;
}

.check {
    width: 15px;
    height: 15px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 14px;
}

.submit {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #7D93F9;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

input::placeholder {
    color: #7D93F9;
}

input:focus {
    background-color: #212741;
}

div {
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    height: 135%;
    width: 100%;
}

#atras {
    color: #7D93F9;
    background-color: #1E1E1E;
    border: 3px solid black;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    font-size: 20px;
    z-index: 4;
}

.checks {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
}
.checks section {
    margin: 0px;
    padding: 0px;
}

.pass-field input, .pass-field2 input {
    width: 350px;
    margin: 0px 0px;
}

.pass-field, .pass-field2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.pass-field, .pass-field2 {
    margin: 0px;
    padding: 0px;
}
.pass-field i, .pass-field2 i {
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    position: absolute;
    transform: translatex(160px);
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #2E2E2E;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}
.content p {
    color: white;
    font-size: 1.3rem;
}
.content .requirement-list {
    margin-top: 20px;
}
.requirement-list li {
    font-size: 1rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.requirement-list li i {
    width: 20px;
    color: #aaa;
    font-size: 0.6rem;
}
.requirement-list li.valid i {
    font-size: 0.5rem;
    color: #4285F4;
}
.requirement-list li span {
    margin-left: 12px;
}
.requirement-list li.valid span {
    color: #999;
}
.valid {
    color: lime;
}
@media only screen and (max-width: 600px) {
    input {
        width: 90%;
    }
    label {
        font-size: 3vw;
    }
    section {
        width: 80%;
    }
    .wrapper {
        width: 100%;
    }
    .content {
        width: 70%;
    }
    .pass-field i, .pass-field2 i {
        transform: translatex(25vw);
    }
    .pass-field, .pass-field2 {
        width: 100%;
    }
    .pass-field input, .pass-field2 input {
        width: 89%;
    }
    .content p {
        font-size: 1rem;
    }
    .content ul li span {
        font-size: 0.8rem;
    }
}